.oui-container-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 50px;
    height: 40px;
    margin-bottom: 1em;
    cursor: pointer;
    user-select: none;
}

.oui-input-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.oui-input-checkbox-checkmark {
    position: absolute;
    top: 9px;
    left: 9px;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--on-background);
    border-radius: 5px;
    background: no-repeat center;
    background-size: 12px;
    transition-property: box-shadow, background-color, border-color; 
    transition: .5s;
}

.oui-container-checkbox:hover .oui-input-checkbox-checkmark,
.oui-container-checkbox:focus .oui-input-checkbox-checkmark {
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.2);
}

.oui-container-checkbox input:checked ~ .oui-input-checkbox-checkmark {
    background-color: var(--app-accent);
    border-color: var(--app-accent);
    background-image: url(../icons/check_white.svg); 
}
