.oui-container-radio {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 50px;
    height: 40px;
    margin-bottom: 1em;
    cursor: pointer;
    user-select: none;
}

.oui-input-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.oui-input-radio-checkmark {
    position: absolute;
    top: 9px;
    left: 9px;
    display: block;
    width: 22px;
    height: 22px;
    border: 1px solid var(--on-background);
    border-radius: 50%;
    transition-property: box-shadow, background-color, border-color; 
    transition: .5s;
}

.oui-input-radio-checkmark:after {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.oui-container-radio:hover .oui-input-radio-checkmark,
.oui-container-radio:focus .oui-input-radio-checkmark {
    box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.2);
}

.oui-container-radio input:checked ~ .oui-input-radio-checkmark {
    border-color: var(--app-accent);
    background-color: transparent;
}

.oui-container-radio input:focus ~ .oui-input-radio-checkmark {
    outline-style: solid;
    outline-width: 2px;
    outline-color: var(--app-accent);
}

.oui-container-radio input:checked ~ .oui-input-radio-checkmark:after {
    background-color: var(--app-accent);
}
