.oui-input-search {
    position: relative;
    height: 48px;
    padding: 24px;
    padding-left: 40px;
    line-height: 48px;
    border: 1px solid transparent;
    border-radius: 24px;
    background: url('../icons/search.svg') no-repeat 12px center var(--control-background);
    background-size: 20px;
    transition: border .3s;
}

.oui-input-search:focus,
.oui-input-search:hover {
    border: 1px solid var(--app-accent);
}
