<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="UTF-8">
<title>节点订阅 β By ZGQ Inc.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/css/oui.css">
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="https://socialify.git.ci/ZGQ-inc/overthefirewall/image?forks=1&logo=https%3A%2F%2Fgithub.com%2FZGQ-inc%2Foverthefirewall%2Fraw%2Frefs%2Fheads%2Fmain%2Finternet.svg&name=1&owner=1&pattern=Brick%20Wall&stargazers=1&theme=Light" />
    <meta property="og:image:alt" content="覆盖全平台•完全免费•节点订阅•机场推荐•破解VPN软件分享" />
    <meta property="og:site_name" content="节点订阅 β" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="节点订阅 β" />
    <meta property="og:url" content="https://github.com/ZGQ-inc/overthefirewall" />
    <meta property="og:description" content="覆盖全平台•完全免费•节点订阅•机场推荐•破解VPN软件分享" />
      <meta name="description" content="覆盖全平台•完全免费•节点订阅•机场推荐•破解VPN软件分享" />
	  <link rel="canonical" href="https://github.com/ZGQ-inc/overthefirewall" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta property="twitter:title" content="节点订阅 β" />
    <link rel="icon" href="https://overthefirewall.zgqinc.gq/internet.svg">
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">节点订阅 β</h1>
      <h2 class="project-tagline">Beta 重大改版发布</h2>

        <a href="https://github.com/ZGQ-inc/overthefirewall" class="btn">项目地址 <font>别忘了点个<img src="../assets/black-star.svg" /></font></a>
        <br>
        <a><font color="#FFFFFF">⏫向上滚动开始浏览⏫</font></a>

    </header>

    <main id="content" class="main-content" role="main">
    
      {{ content }}

      <footer class="site-footer">
      	
           <a href="https://github.com/ZGQ-inc/overthefirewall">节点订阅 β</p></a>
        
        <p>&copy;2024 ZGQ Inc. <span>All rights reserved</span>.</p>
      </footer>
    </main>
  </body>
</html>
